img {
  width: 100%;
}
.active {
  display: block !important;
}
.modal-wrapper {
  background-color: grey;
  opacity: 30%;
  height: 1000px;
  z-index: 2;
  position: absolute;
  top: 0;
  display: none;
}
.modal__block {
  width: 33%;
  margin-left: 33%;
}
